{% if page_section_object.content contains '<div class="intro">' %}
    {% capture page_content_formatted %}{{ page_section_object.content | replace: '<div class="intro">','---<div class="intro">' | replace: '</div>','</div>---' }}{% endcapture %}
    {% assign page_content_array = page_content_formatted | split: '---' | assign_to: 'page_elements' %}
    <div class="row">
        <div class="column medium-10 medium-offset-1 large-8 large-offset-2 end">
            {% for page_element in page_elements %}
                {% if page_element contains '<div class="intro">' %}
                    {{ page_element }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="column medium-10 medium-offset-1 large-8 large-offset-2 end">
        <div class="{% if page_section_object.tag_list contains 'background-gray' %}background-white{% else %}background-gray{% endif %} rounded-corners padded-h-large padded-v-medium">
            {{ page_section_object.content | replace: '<div class="intro">','<div class="intro hide">' }}
        </div>
    </div>
</div>